@import 'darkmode.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    font-family: "proxima-nova-condensed", sans-serif;
}

.navbar-container{
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    a{
      background: none;
      border: none;
      font-size: 1.2rem;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
    }
  .icon{
    cursor: pointer;
    font-size: 1.3rem;
  }
}

.welcome-container{
    height: 92.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  .selectRegion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3{
      font-weight: 100;
      font-size: 2rem;
    }
    .buttons{
      display: flex;
      a{
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: 0.4rem;
        font-size: 1.7rem;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  h1{
    margin: 1rem;
    font-size: 4rem;
  }
  p{
    margin: 4rem;
    font-size: 1.7rem;
    text-align: center;
    width: 800px;
  }  
  button{
    padding: .5rem 1rem;
    border: 1px solid black;
    cursor: pointer;
  }
}

.game-flag-container{
  height: 92.8vh;
}
.countries-container{
  display: flex;
  justify-content: space-around;
  text-align: center;
  .firstCountry, .secondCountry{
      padding: 4rem 0;
      height: fit-content;
    .img-container img{
      height: 280px;
      width: 440px;
      object-fit: fill;
      box-shadow: rgba(0, 0, 0, 20%) 1px 5px 25px -10px;
    }  
    .info-container{
      h2{
        font-size: 2rem;
        font-weight: bold;
      }  
      p{
        font-size: 1.8rem;
        font-weight: 100;
      }  
      .btn-container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        button:disabled{
          background-color: gray;
          cursor: not-allowed;
        }
        .btn1{
          padding: .75rem 1rem;
          margin: 0.5rem 1rem;
          border-radius: 0.3rem;
          font-size: 1rem;
          font-weight: 600;
          cursor: pointer;
        }  
        .btn2{
          padding: .75rem 1.6rem;
          margin: 0.5rem 1rem;
          border-radius: 0.3rem;
          font-size: 1rem;
          font-weight: 600;
          cursor: pointer;
        }  
      }  
    }  
  }  
}  

.answer-container{
  text-align: center;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  h1{
    font-size: 2rem;
    font-weight: 100;
  }   
  .wrong-answer{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
      font-weight: bold;
      color: rgb(245, 47, 47);
    }  
    p{
      font-size: 1.5rem;
      padding-bottom: 10px;
    }
    .btns{
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      width: 100%;
      a{
        margin-left: 0.5rem;
        padding: .5rem 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        border-radius: 0.3rem;
      }
      button{
        padding: .75rem 1rem;
        cursor: pointer;
        font-weight: bold;
        width: fit-content;
        font-size: 1.1rem;
        border-radius: 0.3rem;
      } 
    }
  }
  .correct-answer{
    p{
      color: rgb(16, 170, 16);
      font-size: 1.5rem;
      font-weight: bold;
    }
    button{
      padding: .75rem 1rem;
      margin-top: 10px;
      border-radius: 0.3rem;
      cursor: pointer;
      font-weight: bold;
      width: fit-content;
      font-size: 1.1rem;
    } 
  }  
}

.footer{
  position: fixed;
  bottom: 1px;
  padding: 0 1.5rem 1rem;
  font-size: 1.2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.containerSpinner{
  height: 92.9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  
  .sk-cube {
    width: 33%;
    height: 33%;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; 
  }
  .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; 
  }
  .sk-cube3 {
  -webkit-animation-delay: 0.4s;
   animation-delay: 0.4s; 
  }
  .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
  .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
  .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
  .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

    @-webkit-keyframes sk-cubeGridScaleDelay {
      0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
                transform: scale3D(1, 1, 1);
      } 35% {
        -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1); 
      }
    }
    
    @keyframes sk-cubeGridScaleDelay {
      0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
                transform: scale3D(1, 1, 1);
      } 35% {
        -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1);
      } 
    }
}
}

@media (max-width: 425px){
  .welcome-container{
    height: 100%;
    h1, p{
      width: 80%;
      margin: 0;
    }
    h1{
      font-size: 2rem;
      margin-top: 30px;
      text-align: center;
    }
    p{
      font-size: 1.5rem;
      text-align: center;
      margin: 30px 0;
      padding-bottom: 1rem;
    }
    .selectRegion{
      padding: 1rem 0;
      .buttons{
        flex-wrap: wrap;
        margin: 31px 0;
        width: 70%;
        justify-content: center;
        a{
          text-align: center;
          font-size: 1.2rem;
        }
      }
    }
  }

  .game-flag-container{
    height: 100%;
    .countries-container{
      flex-direction: column;
      width: 100%;
      .firstCountry, .secondCountry{
        padding: 34px 0;
        .img-container{
          img{
            height: 188.5px;
            width: 330px;
          }
        }
      }
    }
    .answer-container{
      .correct-answer{
        padding-bottom: 30px;
      }
      .wrong-answer{
        width: 97%;
        padding-bottom: 30px;
      }
    }
  .footer{
    position: static;
    width: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    align-self: flex-end;
    padding-top: 9px;
  }
  }
}

@media (min-width:425px) and (max-width: 817px){
  .welcome-container{
    height: 92.8vh;
    h1, p{
      width: 70%;
      margin: 0;
    }
    h1{
      font-size: 1.5rem;
      margin-top: 30px;
      text-align: center;
    }
    p{
      font-size: 1.5rem;
      text-align: center;
      margin: 30px 0;
    }
    .selectRegion{
      .buttons{
        margin: 29px 0;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        a{
          text-align: center;
          font-size: 1.2rem;
        }
      }
    }
  }

  .game-flag-container{
    height: 100%;
    .countries-container{
      width: 100%;
      flex-direction: column;
      .firstCountry, .secondCountry{
        padding: 34px 0;
        .img-container{
          img{
            height: 188.5px;
            width: 330px;
          }
        }
      }
    }
    .answer-container{
      .correct-answer{
        padding-bottom: 50px;
      }
      .wrong-answer{
        width: 97%;
        padding-bottom: 30px;
      }
    }
  .footer{
    position: inherit;
    width: 100%; 
    display: flex; 
    align-self: flex-end;
    padding-top: 9px;
  }
  }
}

@media (min-width: 512px) and (max-width:663px){
  .welcome-container{
    padding: 0px;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
  }
}

@media (min-width:425px) and (max-width:488px){
  .welcome-container{
    .selectRegion{
      .buttons{
        a{
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (min-width:818px) and (max-width: 831px){
  .welcome-container{
    height: 92.8vh;
    .selectRegion{
      .buttons{
        a{
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media (min-width:818px) and (max-width: 950px){
  .game-flag-container{
    height: 100%;
    .countries-container{
      width: 100%;
      flex-direction: column;
      .firstCountry, .secondCountry{
        padding: 34px 0;
        .img-container{
          img{
            height: 188.5px;
            width: 330px;
          }
        }
      }
    }
    .answer-container{
      .correct-answer{
        padding-bottom: 50px;
      }
      .wrong-answer{
        width: 97%;
        padding-bottom: 30px;
      }
    }
    .footer{
      position: inherit;
      width: 100%; 
      display: flex; 
      align-self: flex-end;
      padding-top: 9px;
    }
  }
}

@media (width:1024px){
  .game-flag-container{
    .firstCountry, .secondCountry{
      padding: 0;
      padding-top: 74px;
    }
  }
}