:root {
  --darkmode-background: #202c37;
  --darkmode-text: #ffffff;
  --darkmode-element: #2b3945;
  --darkmode-border: 1px solid #ffffff;
  --darkmode-spinner: #ffffff;
  
  --lightmode-background: #f5f5f5;
  --lightmode-text: #111517;
  --lightmode-element: #ffffff;
  --lightmode-input: 	#858585;
  --lightmode-border: 1px solid #111517;
  --lightmode-spinner: #2b3945;

}

body.light{
  --background-color: var(--lightmode-background);
  --background-elmnt: var(--lightmode-element);
  --color: var(--lightmode-text);
  --background-input: var(--lightmode-input);
  --border: var(--lightmode-border);
  --background-spinner: var(--lightmode-spinner);
}

body.dark{
  --background-color: var(--darkmode-background);
  --background-elmnt: var(--darkmode-element);
  --color: var(--darkmode-text);
  --border: var(--darkmode-border);
  --background-spinner: var(--darkmode-spinner);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    font-family: "proxima-nova-condensed", sans-serif;
}

body{
  background: var(--background-color);
}

.navbar-container{
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    a{
      background: none;
      border: none;
      font-size: 1.2rem;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
      color: var(--color);
      svg{
        cursor: pointer;
        width: 25px;
        height: 25px;
        fill: var(--color)
      }
    }
    h1{
      color: var(--color);
    }
  .icon{
    cursor: pointer;
    .darkMode-toggle{
      svg{
        cursor: pointer;
        width: 25px;
        height: 25px;
        fill: var(--color)
      }
    }
  }
}

.welcome-container{
    height: 92.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  .selectRegion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3{
      font-weight: 100;
      font-size: 2rem;
      color: var(--color);
    }
    .buttons{
      display: flex;
      a{
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: 0.4rem;
        font-size: 1.7rem;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        color: var(--color);
        background-color: var(--background-elmnt);
        border: var(--border);
      }
    }
  }
  h1{
    margin: 1rem;
    font-size: 4rem;
    color: var(--color);
  }
  p{
    margin: 4rem;
    font-size: 1.7rem;
    text-align: center;
    width: 800px;
    color: var(--color);
  }
}

.countries-container{
  display: flex;
  justify-content: space-around;
  text-align: center;
  .firstCountry, .secondCountry{
      padding: 4rem 0;
      height: fit-content;
    .img-container img{
      height: 280px;
      width: 440px;
      object-fit: fill;
      box-shadow: rgba(0, 0, 0, 20%) 1px 5px 25px -10px;
    }  
    .info-container{
      h2{
        font-size: 2rem;
        font-weight: bold;
        color: var(--color);
      }  
      p{
        font-size: 1.8rem;
        font-weight: 100;
        color: var(--color);
      }  
      .btn-container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        button:disabled{
          background-color: gray;
          cursor: not-allowed;
        }
        span{
          color: var(--color);
        }
        .btn1{
          padding: .75rem 1rem;
          margin: 0.5rem 1rem;
          border-radius: 0.3rem;
          font-size: 1rem;
          font-weight: 600;
          cursor: pointer;
          color: var(--color);
          background-color: var(--background-elmnt);
          border: var(--border);
        }  
        .btn2{
          padding: .75rem 1.6rem;
          margin: 0.5rem 1rem;
          border-radius: 0.3rem;
          font-size: 1rem;
          font-weight: 600;
          cursor: pointer;
          color: var(--color);
          background-color: var(--background-elmnt);
          border: var(--border);
        }  
      }  
    }  
  }  
}  

.answer-container{
  text-align: center;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  h1{
    font-size: 2rem;
    font-weight: 100;
  }   
  .wrong-answer{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
      font-weight: bold;
      color: rgb(245, 47, 47);
    }  
    p{
      font-size: 1.5rem;
      padding-bottom: 10px;
      color: var(--color);
    }
    .btns{
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      width: 100%;
      a{
        margin-left: 0.5rem;
        padding: .5rem 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        border-radius: 0.3rem;
        color: var(--color);
        background-color: var(--background-color);
        border: var(--border);
      }
      button{
        padding: .75rem 1rem;
        cursor: pointer;
        font-weight: bold;
        width: fit-content;
        font-size: 1.1rem;
        border-radius: 0.3rem;
        color: var(--color);
        background-color: var(--background-color);
        border: var(--border);
      } 
    }
  }
  .correct-answer{
    p{
      color: rgb(16, 170, 16);
      font-size: 1.5rem;
      font-weight: bold;
    }
    button{
      padding: .75rem 1rem;
      margin-top: 10px;
      border-radius: 0.3rem;
      cursor: pointer;
      font-weight: bold;
      width: fit-content;
      font-size: 1.1rem;
      color: var(--color);
      background-color: var(--background-elmnt);
      border: var(--border);
    } 
  }  
}

.footer{
  position: absolute;
  bottom: 0;
  padding: 0 1.5rem 1rem;
  font-size: 1.2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--color);
  pointer-events: none;
}

.containerSpinner{
  height: 92.9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;

  div{
    background-color: var(--background-spinner);
  }
  
  .sk-cube {
    width: 33%;
    height: 33%;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  }
  .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; 
  }
  .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; 
  }
  .sk-cube3 {
  -webkit-animation-delay: 0.4s;
   animation-delay: 0.4s; 
  }
  .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
  .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
  .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
  .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

    @-webkit-keyframes sk-cubeGridScaleDelay {
      0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
      } 35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1); 
      }
    }
    
    @keyframes sk-cubeGridScaleDelay {
      0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
      } 35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
      } 
    }
}
}

@media (min-width: 320px) and (max-width: 375px){
  .welcome-container{
    height: 100%;
    h1, p{
      width: 80%;
      margin: 0;
    }
    h1{
      font-size: 2rem;
      margin-top: 30px;
      text-align: center;
    }
    p{
      font-size: 1.5rem;
      text-align: center;
      margin: 30px 0;
      padding-bottom: 1rem;
    }
    .selectRegion{
      padding: 1rem 0;
      .buttons{
        flex-wrap: wrap;
        margin: 31px 0;
        width: 70%;
        justify-content: center;
        a{
          text-align: center;
          font-size: 1.2rem;
        }
      }
    }
  }

  .game-flag-container{
    height: 100%;
    width: 100%;
    .countries-container{
      flex-direction: column;
      width: 100%;
      .firstCountry, .secondCountry{
        padding: 0;
        padding-bottom: 1.5rem;
        .img-container{
          img{
            height: 160px;
            width: 250px;
          }
        }
      }
    }
    .answer-container{

      .wrong-answer{
        width: 97%;
      }
    }
  .footer{
    position: relative;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  }
}

@media (min-width: 375px) and (max-width: 425px){
  .welcome-container{
    height: 100%;
    padding-top: 20px;
    padding-bottom: 19px;
    h1, p{
      width: 80%;
      margin: 0;
    }
    h1{
      font-size: 2rem;
      margin-top: 30px;
      text-align: center;
    }
    p{
      font-size: 1.2rem;
      text-align: center;
      margin: 30px 0;
      padding-bottom: 1rem;
    }
    .selectRegion{
      padding: 0;
      h3{
        font-size: 1.6rem;
      }
      .buttons{
        flex-wrap: wrap;
        margin: 31px 0;
        width: 70%;
        justify-content: center;
        a{
          text-align: center;
          font-size: 1.2rem;
        }
      }
    }
  }

  .game-flag-container{
    margin-top: 1rem;
    .countries-container{
      flex-direction: column;
      align-items: center;
      width: 100%;
      .firstCountry, .secondCountry{
        padding: 0;
        padding-bottom: 3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .img-container{
          display: flex;
          align-items: center;
          padding: 0 10px;
          img{
            height: 120px;
            width: 195px;
          }
        }
        .info-container{
          width: 100%;
          h2{
            font-size: 2em;
          }
          p{
            font-size: 1.5em;
          }
          .btn-container{
            width: 95%;
            button{
              padding: 0.5rem .5rem;
              font-size: .8em;
              margin: .4rem;
              width: 40%;
            }
          }
        }
      }
      .secondCountry{
        padding-bottom: 1rem;
      }
    }
    .answer-container{
      .wrong-answer{
        width: 97%;
        padding: 0px;
        .wrong-answer-txt{
          h1{
            font-size: 1.6rem;
          }
          p{
            font-size: 1.3rem;
          }
        }
      }
    }
  .footer{
    display: none;
  }
  }
}

@media (min-width: 425px) and (max-width: 512px){
  .welcome-container{
    height: 100%;
    padding: 0;
    padding-top: 1.5rem;
    h1, p{
      width: 80%;
      margin: 0;
    }
    h1{
      font-size: 1.7em;
      margin-top: 30px;
      text-align: center;
    }
    p{
      font-size: 1.4em;
      text-align: center;
      margin: 30px 0;
    }
    .selectRegion{
    margin: 1.7rem 0;
      .buttons{
        margin: 2rem 0;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        a{
          text-align: center;
          font-size: 1.2em;
        }
      }
    }
  }

  .game-flag-container{
    height: 100%;
    .countries-container{
      width: 100%;
      flex-direction: column;
      .firstCountry, .secondCountry{
        padding: 1rem 0;
        .img-container{
          img{
            height: 130px;
            width: 200px;
          }
        }
      }
      .secondCountry{
        padding: 0;
        padding-bottom: 1rem;
      }
    }
    .answer-container{
      .correct-answer{
        padding-bottom: 50px;
      }
      .wrong-answer{
        width: 97%;
        padding-bottom: 30px;
        h1{
          font-size: 1.5em;
        }
      }
    }
  }
}

@media (min-width:511px) and (max-width: 817px){
  .welcome-container{
    height: 100%;
    padding: 0;
    padding-top: 1.1rem;
    h1, p{
      width: 80%;
      margin: 0;
    }
    h1{
      font-size: 1.7em;
      margin-top: 30px;
      text-align: center;
    }
    p{
      font-size: 1.4em;
      text-align: center;
      margin: 30px 0;
    }
    .selectRegion{
    margin: 1rem 0;
      .buttons{
        margin: 2rem 0;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        a{
          text-align: center;
          font-size: 1.2em;
        }
      }
    }
  }

  .game-flag-container{
    height: 100%;
    .countries-container{
      width: 100%;
      flex-direction: column;
      .firstCountry, .secondCountry{
        padding: 0;
        .img-container{
          img{
            height: 136px;
            width: 270px;
          }
        }
        .info-container{
          h2{
            font-size: 1.5em;
          }
        }
      }
      .secondCountry{
        padding: 0;
        padding-bottom: 1rem;
      }
      .firstCountry{
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
    
    .answer-container{
      .correct-answer{
        padding-bottom: 50px;
      }
      .wrong-answer{
        width: 100%;
        padding-bottom: 30px;
      }
    }
    .footer{
      position: relative;
    }
  }
}

@media (min-width: 512px) and (max-width:663px){
  .welcome-container{
    padding: 0px;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
  }
}

@media (min-width:425px) and (max-width:488px){
  .welcome-container{
    .selectRegion{
      .buttons{
        a{
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (min-width:818px) and (max-width: 831px){
  .welcome-container{
    .selectRegion{
      .buttons{
        a{
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media (min-width:818px) and (max-width: 950px){
  .game-flag-container{
    height: 100%;
    .countries-container{
      width: 100%;
      .firstCountry, .secondCountry{
        padding: 2.28rem 0;
        .img-container{
          img{
            height: 188.5px;
            width: 330px;
          }
        }
      }
    }
    .answer-container{
      .correct-answer{
        padding-bottom: 50px;
      }
      .wrong-answer{
        width: 97%;
        padding-bottom: 30px;
      }
    }

  }
}

@media (width:1024px){
  .game-flag-container{
    .firstCountry, .secondCountry{
      padding: 0;
      padding-top: 74px;
    }
  }
}